
#SeeFilm{
  overflow: hidden;
  h1{
    height: .45rem;
    line-height: .45rem;
    background: url(http://movie.miguvideo.com/lovev/miguMovie/images/icon/module-icon.png) no-repeat 0 11px;
    background-size: 3px 23px;
    padding-left: .08rem;
    padding-right: .12rem;
    color: #666;
    font-size: 16px;
    font-weight: 100;
  }
}