#nowplaying{
	padding-top:.1rem;
	margin-bottom:.51rem;
	background:#fff;
	dl{
		display:flex;
		padding:.1rem;
		border-bottom:1px solid #ccc;
		height:1.4rem;

		dt{
			flex:1;
			img{
				width:75%;
				margin:auto;
				padding-right:.1rem;
			}
		}
		dd{
			flex:2;
			h2{
				padding:.16rem 0;
			}
			p{
				width:1.5rem;
				
			}
			
			p{				
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
			}
			span{
				display:block;
				width:.4rem;
				height:.3rem;
				line-height:.3rem;
				text-align:center;
				border:1px solid #f00;
				border-radius:.06rem .06rem .06rem .06rem;
				color:#f00;
			}
		}
	}
}